
@{
    ViewBag.Title = "LoginSuccess";
}

<div class="modal-header">
    <div class="col-md-12">
        <h4 id="loginMessage">Login Successful.</h4>
    </div>
</div>


<div class="modal-footer">
    <div class="col-md-12">
        <button class="btn btn-danger btn-block" data-toggle="modal" data-dismiss="modal" onclick="refreshPage()">Close</button>
    </div>
</div>

