
@{
    ViewBag.Title = "RegistrationSuccess";
}
<link rel="stylesheet" type="text/css" href="~/Content/registration.css">
<div class="col-md-8" id="regSuccDiv">
    <h1>Registration successful, you may login now.</h1>
    <button class="btn btn-danger" data-toggle="modal" href="#login-modal" id="loginModalButton">Login</button>
</div>