#newVideoDiv {
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#CommentsEnabled, #RatingEnabled {
    margin-left: 0;
}
#newVideoHeader{
    margin-bottom: 10px;
}