
@{
    ViewBag.Title = "AdminPage";
}

<html>
<head>
    <script src="~/Scripts/usersPage.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/usersPage.css">
</head>
<body>
    <div class="input-group" id="searchUserBar">
        <input type="text" class="form-control" placeholder="Search users" autocomplete="off" id="searchUsers">
        <span class="input-group-btn"><button class="btn btn-danger" onclick="searchUsersButton()">Submit</button></span>
    </div>
    <select name="type" form="typeForm" id="selectSort" onchange="refreshUsers()">
        <option value="1">Username ASC</option>
        <option value="2">Username DESC</option>
        <option value="3">First Name ASC</option>
        <option value="4">First Name DESC</option>
        <option value="5">Last Name ASC</option>
        <option value="6">Last Name DESC</option>
        <option value="7">Email ASC</option>
        <option value="8">Email DESC</option>
        <option value="9">Role ASC</option>
        <option value="10">Role DESC</option>
        <option value="11">Status ASC</option>
        <option value="12">Status DESC </option>
    </select>
    <div class="row">
        <!--
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="channelPage.html" id="picDiv"><img src="pictures/1.jpg" alt="Lights" style="width:150px;height: 150px">
            <ul id="channelInfo">
                <li><h3>Channel name</h3></li>
                <li><p>151.412 followers - 142 videos</p></li>
                <li><p>15 41412 1241 41 15 1134131 12124 1231 1 1241 1241 12 123 123 1</p></li>
            </ul>
            </a>
            <div class="btn-group" role="group" id="channelButton">
                <button type="button" class="btn btn-danger" id="btnFollow">Follow</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-option-horizontal"></span></button>
            </div>
        </div>
        -->
    </div>
</body>
</html>

