@model MyTube.Models.User
@{
    ViewBag.Title = "ChannelPage";
}

<html>
<head>
    <script src="~/Scripts/channelPage.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/channelPage.css">
</head>
<body>
    <div class="modal fade" id="editUserModal">
        <div class="modal-dialog">
            <div class="modal-content col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Edit user</h3>
                </div>
                <!-- body -->
                <div id="userEditFormContainer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="blockModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body">Select "Block" below if you are want to block this channel.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" onclick="blockUser(event)">Block User.</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="unblockModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body">Select "Unblock" below if you are want to unblock this channel.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" onclick="unblockUser(event)">Unblock User.</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                </div>
                <div class="modal-body">Select "Delete" below if you are want to delete this channel.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" onclick="deleteUser(event)">Delete User.</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 thumbnail" id="infoAndOptions">
            <img id="profileImage" src="@Model.ProfilePictureUrl" alt="Profile Picture" style="width:80px;height: 80px">
            <ul id="nameAndFollowers" class="thumbnail">
                <li id="name">@Model.Username</li>    <!-- CHANNEL NAME -->
                <li id="subscribers">Subscribers: @Model.SubscribersCount</li>      <!-- FOLLOWERS -->
            </ul>
            <div class="col-md-12 col-sm-12 col-xs-12 btn-group dropdown" id="navButtons">
                @if (Session["loggedInUserUsername"] == null)
                {
                    <button id="subButton" class="btn btn-danger" href="#login-modal" data-toggle="modal">Subscribe</button>
                }
                else if ((string)Session["loggedInUserUsername"] != Model.Username)
                {
                    if (ViewBag.Subbed != true)
                    {
                        <button id="subButton" class="btn btn-danger" onclick="subUser()">Subscribe</button>
                    }
                    else
                    {
                        <button id="subButton" class="btn btn-default" onclick="subUser()">Unsubscribe</button>
                    }
                }

                <button id="userVideos" type="button" class="btn btn-default active changeActive">Videos</button>
                <button id="userSubs" type="button" class="btn btn-default changeActive">Subscriptions</button>
                <button id="userLiked" type="button" class="btn btn-default changeActive">Likes</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-option-horizontal"></span></button>
                    <ul class="dropdown-menu" role="menu" id="optionsDropdown">
                        @if ((string)Session["loggedInUserUserType"] == "ADMIN" && (string)Session["loggedInUserUsername"] != Model.Username)
                        {
                            <li id="deleteOptionChannel"><a href="#deleteModal" data-toggle="modal" id="deleteOptionBlocked">Delete user</a></li>
                            if (Model.Blocked != true)
                            {
                                <li id="blockOptionChannel"><a href="#blockModal" data-toggle="modal" id="blockOptionBlocked">Block user</a></li>
                            }
                            else
                            {
                                <li id="unblockOptionChannel"><a href="#unblockModal" data-toggle="modal" id="unblockOptionBlocked">Unblock user</a></li>
                            }
                        }
                        @if ((string)Session["loggedInUserUserType"] == "ADMIN" || (string)Session["loggedInUserUsername"] == Model.Username)
                        {
                            <li id="editChannelOption"><a href="#" onclick="loadEditModal(event)" id="editOptionBlocked">Edit user</a></li>
                        }
                        <li><a id="userInfo" href="#" onclick="loadInfo(event)">Info</a></li>
                        <li><a href="#">Send message</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 thumbnail" id="mainDiv">
            @*<h4 class="orderVideos" id="h4Tittle">Order videos by: </h4>
                <select name="type" form="typeForm" class="orderVideos" id="orderVideosSelect" onchange="refreshVideos()">
                    <option value="1">Latest</option>
                    <option value="2">Oldest</option>
                    <option value="3">Most viewed</option>
                    <option value="4">Least viewed</option>
                </select>
                <div class="row" id="content">
                </div>*@
        </div>
    </div>
</body>
</html>
@if (Session["loggedInUserStatus"]!=null && Session["loggedInUserStatus"].ToString() == "true")
{
    <script>
        blockAll();
    </script>
}
